<a href="https://colab.research.google.com/github/irfanghapar/Python-Programming/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Access/change value dictionary

In [7]:
d = {0:10, 1:20}
d[1] = 2018
print(d)

{0: 10, 1: 2018}

Adding value/key to dictionary

In [8]:
d = {0:10, 1:20}
d.update({2:30})
print(d)

for x in d:
  print(d[x])
  print(x)

{0: 10, 1: 20, 2: 30}
10
0
20
1
30
2

Loop through values and keys

In [9]:
d = {0:10, 1:20}
d.update({2:30})
print(d)

for x, y in d.items():
  print(x,y)

{0: 10, 1: 20, 2: 30}
0 10
1 20
2 30

Check model if it exists
Check length

In [13]:
d = {0:10, 1:20}
d.update({2:30})

if 0 in d:
  print(d[1])

print(len(d))

20
3

Nested Dictionaries and assigning dictionaries

In [16]:
family = {
    "child1" : {
    "name" : "Emil",
    "year" : 2004
},
}

child2 = {
    "name" : "Tobias"
}

child3 = {
    "name" : "Linus"
}

myfamily = {
    "child1" : family,
    "child2" : child2,
    "child3" : child3
}
print(family)
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}}
{'child1': {'child1': {'name': 'Emil', 'year': 2004}}, 'child2': {'name': 'Tobias'}, 'child3': {'name': 'Linus'}}

Iterate and remove using loops

In [21]:
d = {'Red' : 1, 'Green' : 2, 'Blue' : 2}
for x, y in d.items():
  print(x, 'corresponds to', y)  # print(x, 'corresponds to', d[x])

if 'Red' in d:
  del d['Red']
print(d)

Red corresponds to 1
Green corresponds to 2
Blue corresponds to 2
{'Green': 2, 'Blue': 2}

Sort Python Dict based on letter in front

In [23]:
d = {'Red' : '#00000', 'Green' : '#40000', 'Blue' : '#20000'}

for x in sorted(d):
  print(x, ":", d[x])

Blue : #20000
Green : #40000
Red : #00000

Find Max using get() and key

In [24]:
x = {1:2, 2:3, 3:4}
max(x, key=lambda i: x[i]) #lambda is an anonymous function
max(x, key=x.get)

3

Find maximum and minimum value in dictionaries

In [28]:
d = {'x':2, 'y':3, 'z':4}

findmax = max(d.keys(), key=lambda i: d[i])

print(findmax)

z

Concatenate Dictionaries

In [31]:
d = {'x': 2}
e = {'y': 3}
f = {'z': 4}
g = {}
h = {}

for x in (d , e , f):
  g.update(x)
  h.update(e)

print(g, h)

{'x': 2, 'y': 3, 'z': 4} {'y': 3}

In [44]:
d = {'a':2, 'b':3, 'z':4}
h = 0
for x, y in d.items():
  h = h + y #sum(d.values())
  print(sum(d.values()))
  print(h)

9
2
9
5
9
9

In [46]:
d = {}

for x in range(1, 6):
  d[x] = x*x

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}